  @media (max-width:768px){
    main{
      align-items: flex-start;
      padding-top: 5rem;
      overflow: hidden;
      height: 100vh;
    }

    .tarjeta{
      width: 90%;
      height: 39rem;
      display: block;
      min-width: 290px;
      max-width: 400px;
    }

    .tarjetaIzq{
      background-image: url(/images/image-product-mobile.jpg);
      height: 25vh;
      
    }


    .tarjetaDer{
      padding: 0.5rem 1.2rem;

    }
    .tarjetaDer__encabezado{
      margin: 0.5rem 0;
      font-size: 0.7rem;
    }
    .tarjetaDer h1{
      font-size: 1.9rem;
      line-height: 2rem;
      margin: 0;
      
    }

    .tarjetaDer__texto{
      font-size: 1rem;
      line-height: 1.5rem;
      font-size: 0.83rem;
    }

    .tarjetaDer__precio{
      margin-bottom: 1rem;
    }

    .tarjetaDer__oferta{
      font-size: 2rem;
    }

    .tarjetaDer__precioA{
      font-size: 1rem;
      margin-top: 0.7rem;
    }

    button{
      font-size: 1rem;
      height: 3rem;
      font-weight: 400;
    }
    
  }

  @media (min-width: 1600px){
    .tarjeta{
      max-width: 1000px;
    }

    .tarjetaDer__encabezado{
      font-size: 1.2rem;
    }

    .tarjetaDer h1 {
      font-size: 3.5rem;
    }

    .tarjetaDer__texto{
      font-size: 1.6rem;
    }
    
    .tarjetaDer__oferta {
      font-size: 3.5rem;
    }

    .tarjetaDer__precio{
      font-size: 1.8rem;
    }
  }